table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    
}

caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
}

thead,
tfoot {
    background-color: rgba(6, 19, 116, 0.913);
    color: whitesmoke;
}

th,
td {
    border: 1px solid rgb(191, 188, 188);
    padding: 8px 10px;
}

td:last-of-type {
    text-align: center;
}

tbody>tr:nth-of-type(even) {
    background-color: rgb(155, 172, 240);
    color: rgb(239, 237, 237);
}
tbody>tr:nth-of-type(odd) {
    background-color: rgb(122, 141, 217);
    
    color: rgb(242, 239, 239);
}

tfoot th {
    text-align: right;
}

tfoot td {
    font-weight: bold;
}
.butContainer{
    margin: 1rem 0rem;
    padding: 1rem;
    background-color: rgba(6, 19, 116, 0.913);
    width: fit-content;
    border-radius: 16px;
    display: flex;
    gap: 1rem;

    button{
        background-color: rgb(211, 224, 245);
        border: none;
        color: rgb(69, 90, 211);
        padding: 2rem;
        border-radius: 30px;
        width: 10rem;
        font-size: 1.3rem;
        &:hover{
            background-color: rgb(157, 190, 243);
            color: whitesmoke;
        }
    }
    
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}